body{
    font-family: Arial, sans-serif;
}
nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 60px;
    background: #1b3325;
    position: fixed;
    z-index: 10;
}
.logo{
    color: #fff;
    font-size: 17px;
    line-height: 60px;
    float: left;
    animation: comming 2s ease;
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    
    background: url(../img/mee.JPG) center/cover no-repeat;
}
.title_container{
    font-family: 'Segoe Script', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    color: #fff;
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s;
    border: 10px solid none;
    background-color: rgba(21,51,37,0.6);
    border-radius: 20px;
}
.title_container h1{
    font-size: 45px;
    font-weight: 600;
    opacity: 0.9;
}
.title_container h4{
    margin-top: 25px;
    font-size: 22px;
    color: #fff;
}
.title__container hr{
    color: orange;
    opacity: 1;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #f88f94;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 0px 16px;
    margin: 20px 14px 25px 14px;
}

.info h2{
    color: #143f26;
    font-family: "Franklin Gothic";
}
.info h4{
    font-size: 30px;
    color: #143f26;
    font-family: "Calibri";
}
.info input{
    height: 45px;
    border: 3px solid #143f26;
    background: none;
    border-radius: 10px;
    color: #143f26;
    font-size: 17px;
    padding-left: 25px;
    padding-right: 25px;
    background-size: auto;
    margin-bottom: 100px;
}
.info hr{
    color: #cb6f7e;
    opacity: 100%;
}
.info img{
    width: 500px;
    height: 600px;
    border: 10px solid #1b3325;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutMe h2{
    margin-top: 107px;
}
.myskills {
    background: url(../img/bgskills.png) no-repeat center;
    background-size: 100%;
}
.infoSkill{
}
.myskills hr{
    color: #cb6f7e;
    opacity: 100%;
}
.myskills h2{
    font-size: 34px;
    color: #143f26;
}
.skill1 {
    color: #4b5565;
    font-family: "Calibri";
}
.skill1 h3{
    font-size: 19px;
    color: #143f26;
    font-weight: bold;
}
.skill1 h4{
    font-size: 17px;
    color: #3f495a;
}
.skill2{
    font-size: 17px;
    font-family: "Calibri";
}
.skill2 h3{
    font-size: 19px;
    color: #143f26;
    font-weight: bold;
}
.skill2 h4{
    font-size: 17px;
    color: #3f495a;
}
.skill3{
    font-family: "Calibri";
}
.skill3 h3{
    font-size: 19px;
    color: #143f26;
    font-weight: bold;
}
.skill3 h4{
    font-size: 17px;
    color: #3f495a;
}
.skill4{
    font-family: "Calibri";
    max-width: 350px;
}
.skill4 h3{
    font-size: 19px;
    color: #143f26;
    font-weight: bold;
}
.skill4 h4{
    font-size: 17px;
    color: #3f495a;
}
.exampleJs{
    font-size: 18px;
}
.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .accordion:hover{
    background-color: #ccc;
}
.accordion:after{
    content:'\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after{
    content:'\2212';
}
.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.contact-title {
    padding-top: 25px;
    width: 615px;
    margin: 0 auto;
  }
  
  .telegram{
    
  }
  .kesednsoled:after,
  .kesednsoled:before {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
  }
  .ico-wrap {
    color: #a612d4;
    width: 48px;
    height: 48px;
    margin: 30px 18px 5px 5px;
    display: block;
    text-align: center;
    font-size: 25px;
    border: 2px solid #9d1cb7;
    float: left;
    border-radius: 30px;
  }
  .ico-contact {
    line-height: 1.9 !important;
  }
  .meanous-andscoev {
    float: left;
    margin-bottom: 20px;
  }
  .aio-icon-title {
    font-size: 16px;
    color: #950c96;
    line-height: 1;
    margin-bottom: 8px;
  }
  
  @media (max-width: 767px) {
    .meanous-andscoev,
    .ico-wrap {
    float: none;
    text-align: center;
    }
    .ico-wrap {
    margin: 0 auto 15px auto;
    }
  }
.cases h2{
    font-size: 33px;
    color: #384354;
}
.cases h4{
    font-size: 25px;
    color: #384354;
    font-family: "Franklin Gothic";
}
.cases h5{
    font-size: 17px;
    color: #3f495a;
}
.cases hr{
    color: #cb6f7e;
    opacity: 100%;
}
.cases img{
    height: 100%;
}
.cases input{
    height: 40px;
    border: 3px solid #00b6af;
    background: #00b6af;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-size: auto;
    margin-bottom: 183px;
}
.myenglish hr{
    opacity: 1;
    color: #cb6f7e;
}
.comment h2{
    padding-top: 107px;
    padding-bottom: 97px;
    font-size: 34px;
    color: #243042;
    text-align: center;
    font-family: "Franklin Gothic";
}
.comment h3{
    font-size: 17px;
    font-family: "Calibri";
    text-align: center;
}
.comment h5{
    font-size: 17px;
    font-weight: bold;
    font-family: "Calibri";
    text-align: center;
    padding-top: 40px;
}
.comment img{
    padding: 0px 914px 40px 880px;
}
.feedback {
    background: url(../img/contac.png) center/cover no-repeat;
}
.feedback h1{
    padding-top: 105px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 34px;
    color: #fff;
}
.feedback h4{
    font-size: 17px;
    color: #fff;
    padding-bottom: 156px;
    text-align: center;
}
.feedback h3{
    text-align: center;
    padding-bottom: 56px;
    color: #fff;
    font-size: 21px;
}
.feedback input {
    margin: 0px 593px 14px 28px;
    border: 3px solid black;
    background: #d2d6dc;
    padding: 10px 200px 12px 13px;
}
.messagename input {
    margin: 0px 29px 14px 297px;
    padding: 10px 200px 12px 13px;
}
.feedback textarea {
    margin: 0px 593px 14px 297px;
    border: 3px solid black;
    background: #d2d6dc;
    padding: 10px 670px 90px 13px;
}
.messagesubmit input{
    border: 3px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    margin: 64px 896px 168px 896px;
    padding: 18px 18px 13px 18px;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #f88f94;
}
.menu li a:active{
    transform: scale(1.1);
}
.title_container input{
    transition: all 0.2s;
}
.title_container input:hover{
    background: #1b3325;
    color: white;
}
.title_container input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 600px;
    }
}
.info input:hover{
    background: #f88f94;
    color: white;
}
.info input:active{
    transform: scale(1.1);
}
.messagename input:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}
.email input:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}
.feedback textarea:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}
.messagesubmit input:hover{
    background: #343f50;
    color: white;
}
.messagesubmit input:active{
    transform: scale(1.1);
}
.comment img:hover{
    transform: scale(1.5,1.5);
}
.statistics1{
    display: flex; 
    justify-content: space-between;
}
.infostat1{
    padding: 204px 156px 101px 219px;
}
.infostat1 h2{
    padding-bottom: 30px;
}
.infostat2{
    padding: 204px 156px 101px 156px;
}
.infostat3{
    padding: 204px 156px 101px 156px;
}
.infostat4{
    padding: 204px 219px 101px 156px;
}
.white-btn:visited{
    color: white;
}
@media (max-width:991px){
    .title__container, .title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .title__container input{
        border: 2px solid #6d7682;
    }
.main{
    position: relative; 

}
.main::after{
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fsolute;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}
}